node_modules
dist
.env
.env.local
.env.*.local

# Local Netlify folder
.netlify

.vercel

# IDE
.idea/
.vscode/

# Build cache
tsconfig.tsbuildinfo

# Logs
*.log
*.err

# Vercel artifact
Nova_light-/
